<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-4.0.xsd
            http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
           http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
			default-autowire="byName">

<!-- ce bean permet de déclarer à spring nos propres convertisseur personnalisés
 on injecte dans 'customEditors' une map dont chaque entrée représente une conversion
 possible
 	cle = classe a convertir
 	valeur = convertisseur a utiliser pour cette classe
 -->
<bean id="customconfig"
	  class="org.springframework.beans.factory.config.CustomEditorConfigurer">
	  <property name="customEditors">
	  	<map>
	  		<entry key="com.courtalon.springExpressionForm.beans.Adresse"
	  			   value="com.courtalon.springExpressionForm.beans.AdresseEditor" />
	  		<entry key="com.courtalon.springExpressionForm.beans.GeoLocalisation"
	  			   value="com.courtalon.springExpressionForm.beans.GeoLocalisationEditor" />	  			   
	  	</map>
	  </property>
</bean>


<!--  declaration d'une liste directement dans la configuration -->
<util:list id="nomStars" value-type="java.lang.String">
	<value>Willis</value>
	<value>Schwarzenegger</value>
	<value>Dujardin</value>
	<value>Cotillard</value>
</util:list>

<bean id="generator" class="com.courtalon.springExpressionForm.beans.IDGenerator">
	<constructor-arg value="1"/>
</bean>

<bean id="c1" class="com.courtalon.springExpressionForm.beans.Client">
	<property name="id" value="#{generator.getNextID()}"/>
	<property name="nom" value="#{nomStars[1]}"/>
	<property name="email" value="#{nomStars[1] + '@california.gov'}"/>
	<property name="solde" value="#{200.0 * 3}" />
</bean>

<bean id="c2" class="com.courtalon.springExpressionForm.beans.Client">
	<property name="id" value="#{generator.getNextID()}"/>
	<property name="nom" value="#{nomStars[2]}"/>
	<property name="email"><null /></property>
	<property name="solde" value="#{200.0 * T(java.lang.Math).PI}" />
</bean>

<bean id="c3" class="com.courtalon.springExpressionForm.beans.Client">
	<property name="id" value="#{generator.getNextID()}"/>
	<property name="nom" value="#{c2.email ?: 'anonyme'}"/> <!-- elvis operator -->
	<property name="email" value="#{c2.email ?. toUpperCase()}" />
	<property name="solde" value="${mycustomprops.solde}" />
</bean>

<bean id="site1" class="com.courtalon.springExpressionForm.beans.Site">
	<property name="nom" value="feeleurope"/>
	<property name="adresse">
		<bean class="com.courtalon.springExpressionForm.beans.Adresse">
			<property name="rue" value="153 avenue d'italie" />
			<property name="ville" value="paris" />
			<property name="codePostal" value="75013" />
			<property name="pays" value="france" />
		</bean>
	</property>
	<property name="localisation" value="48.819626;2.359473" />
</bean>
<bean id="site2" class="com.courtalon.springExpressionForm.beans.Site">
	<property name="nom" value="Holmme's home"/>
	<property name="adresse" value="221b baker street;londre;12345;angleterre" />
	<property name="localisation" value="51.523880;-0.158655" />
</bean>


<context:property-placeholder location="classpath*:application.properties"/>

	  
</beans>
