<!DOCTYPE html>
<html ng-app="produitApp" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>boutique biobio</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script type="text/javascript" src="js/vendor/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
    <script type="text/javascript" src="js/vendor/angular.js"></script>
    <script type="text/javascript" src="js/produitApp.js"></script>
    <script type="text/javascript" src="js/controllers/produitListCtrl.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">biobio APP</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">ajouter</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div class="container" ng-controller="produitListCtrl" >
	<h1>liste produits</h1>
    <form name="produitForm"
          ng-submit="addProduit(newProduit)"
          novalidate>
        <div class="form-group">
            <label for="produitID">identifiant</label>
            <input type="number"
                   name="produitID"
                   class="form-control"
                   ng-model="newProduit.id" />
        </div>
        <div class="form-group">
            <label for="produitNom">nom</label>
            <input type="text"
                   name="produitNom"
                   class="form-control"
                   ng-model="newProduit.nom" />
        </div>
        <div class="form-group">
            <label for="produitPrix">prix</label>
            <input type="number"
                   name="produitPrix"
                   class="form-control"
                   ng-model="newProduit.prix" />
        </div>
        <div class="form-group">
            <label for="produitPoids">poids</label>
            <input type="number"
                   name="produitPoids"
                   class="form-control"
                   ng-model="newProduit.poids" />
        </div>
        <div class="form-group">
            <label for="produitStock">stock</label>
            <input type="number"
                   name="produitStock"
                   class="form-control"
                   ng-model="newProduit.stock" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
            Add
        </button>
    </form>
 	<table class="table table-striped">
		<thead>
			<tr>
				<th ng-click="setChampTri('id')">ID</th>
				<th ng-click="setChampTri('nom')">Nom</th>
				<th ng-click="setChampTri('prix')">prix</th>
				<th ng-click="setChampTri('poids')">Poids</th>
				<th>Actions</th>
			</tr>
		</thead>
        <tr ng-repeat="produit in produits | orderBy: champTri track by $index" >
            <td>{{produit.id}}</td>
            <td>
                {{produit.nom}}
                <span ng-if="produit.stock < 5" style="font-weight: bold;">
                     - victime de son success
                </span>
            </td>
            <td>{{produit.prix | currency : '€'}}</td>
            <td>{{produit.poids}}</td>
            <td>
                <button class="btn btn-danger btn-block"
                        ng-click="supprimerProduit(produit.id)" >
                    supprimer
                </button>
                <button class="btn btn-success btn-block"
                        ng-disabled="produit.stock == 0" >
                    acheter
                </button>
            </td>
        </tr>
	</table>
</div>

</body>
</html>