<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
          http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util-4.0.xsd
            http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
           http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
			default-autowire="byName">

<bean id="tu" class="com.courtalon.springAOPForm.beans.TextUtils" />


<bean id="NullProtectAdvice"
 	class="com.courtalon.springAOPForm.beans.NullProtectionAdvice" />
<bean id="TrimAdvice"
	class="com.courtalon.springAOPForm.beans.TrimAdvice" />
<bean id="FormatAdvice"
	class="com.courtalon.springAOPForm.beans.FormatResultAdvice" />
<bean id="MyFullAdvice"
	class="com.courtalon.springAOPForm.beans.MyFullAdvice" />

<aop:config>
	<aop:pointcut
expression="execution(* com.courtalon.springAOPForm.beans.TextUtils.inversion(java.lang.String))"
id="pc1"/>
	<aop:pointcut
expression="execution(int com.courtalon.springAOPForm.beans.TextUtils.compteVoyelle(java.lang.String))"
id="pc2"/>

	<aop:advisor advice-ref="TrimAdvice" pointcut-ref="pc1" order="100"/>
	<aop:advisor advice-ref="NullProtectAdvice" pointcut-ref="pc1" order="10"/>
	<aop:advisor advice-ref="FormatAdvice" pointcut-ref="pc1"/>
	<aop:advisor advice-ref="MyFullAdvice" pointcut-ref="pc2"/>
</aop:config>
</beans>
