div.presentation {
    background-color: lightpink;
    padding: 10px;
    margin: 10px;
}

div.preStandard {
    border: 1px solid blue;
}

div.preGold {
    box-shadow: 10px 10px 5px olivedrab;
}

div.prePlatinum {
    border: 3px dashed red;
    box-shadow: 10px 10px 5px olivedrab;
    border-radius: 5px 5px;
}

div.autremessage {
    background-color: lightgrey;
    border: 1px solid black;
}
